
body {
	background-color: #eeeeee;
	padding: 40px;
}
.booleanBoxFalse {
    background-color: red;
}

.booleanBoxTrue {
    background-color: green;
}

.topLineView {
    overflow: auto;
    width: 100%;
}

.firstPersonViewDiv {
    width: 500px;
    float: left;
}

.firstPersonViewImg {
    width: 100%;
}

.hudBoxes {
    width: 200px;
    float: left;
}

#haveBallBox {
    height: 45%;
}

.boolBoxPadding {
    height: 10%;
}

#onTargetBox {
    height: 45%;
}

.autoSelector {
    width: 200px;
    float: left;
}

.laneSelector {
    width: 150px;
    float: left;
}

.extraDataNumbers {
    width: 200px;
    float: left;
}

#chartHolder {
    width: 100%;
    height: 100%;
}